.nav__content {
    a {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .nav__home {
        font-size: 125%;
    }
}
.header--main {
    .banner {
        opacity: 60%;
    }
}


footer {
    a{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}