@font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
  }

.nav__content {
    a {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .nav__home {
        font-size: 125%;
    }
}
.header--main {
    .banner {
        opacity: 60%;
    }
}


footer {
    a{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}